{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
    <div class="croom-form">
        <form method="post" action={% url "create_room" %}>
            <h3 class="display-4">You have {{ words_count }} words in your dictionary 💪</h2>
            <h3 class="display-6">You can choose a range or all words</h3>
            {% csrf_token %}
            <p>{{ form.from_num }}</p>
            <p>{{ form.to_num }}</p>
            <p class="display-7">{{ form.all_words.label }} {{ form.all_words }}</p>
            <p class="display-7">{{ form.reverse.label }} {{ form.reverse }}</p>
            <span>{{ form.error}}</span>
            <button class='btn btn-success' type="submit">Repeat Words</button>
        </form>
    </div>
{% endblock content %}