{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <div class="dictionary">
    <div class="dictionary-content">
      <h2 class="display-4">Your dictionary 📘</h2>
      <br>
      <form action="{% url "dictionary" %}" method="get">
        <input type="text" name="search_dict" placeholder="Search by ID or word/translation" class="form-control" />
      </form>
      <br>
      <table class="table table-bordered table-hover">
        <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Word</th>
            <th>Part of Speech</th>
            <th>Transcription</th>
            <th>Translation</th>
          </tr>
        </thead>
        <tbody>
          {% for word in words %}
            <tr id="word-{{ word.id }}">
              <td>{{ word.id }}</td>
              <td>{{ word.word }}</td>
              <td>{{ word.part_of_speech }}</td>
              <td>[{{ word.transcription }}]</td>
              <td>{{ word.translation }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
{% if highlight_id %}
  <div id="dictionary-table" data-highlight-id="{{ highlight_id }}"></div>
  <script src="{% static 'word/js/dict_search.js' %}"></script>
{% endif %}
{% endblock content %}