{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}

{% block content %}

<div class="container text-center mt-5">
    <h1 class="display-4">Welcome to MemorizeIt!</h1>
    <p class="lead">A simple tool to help you repeat and memorize English words effectively.</p>
    <p>You can add new words to your dictionary, choose a range of words to review, and practice recently added words!</p>
    <p>If you can’t remember the current word — no worries! You can use the search bar in any language, either English or your native one. </p>
    <a href="{% url 'create_room' %}" class="btn btn-primary btn-lg mt-3">Start Repeating</a>
</div>

{% endblock content %}