{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}

{% block content %}
    <div class="room-form">
        <form method="post" action={% url "reverse_room" %}>
            <h1 class="display-3"><b>{{ word }}..</b></h2>
            <h3 class="display-4">Translate the word above. You know it 🤓</h3>
            {% csrf_token %}
            <input type="hidden" name="word_id" value="{{ word_id }}">
            <p>{{ form.answer }}</p>
            {% for error in form.answer.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
            <button class='btn btn-success' type="submit">Check Answer</button>
        </form>
    </div>
{% endblock content %}