{% extends "base.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
<link rel="stylesheet" href="{% static 'word/css/write_word.css' %}">
  <div class="write-form">
    <form method="post">
      {% csrf_token %}
      
      <div class="display-4 mb-4">
        {% if not form.instance.pk %}
          Add the word in your dictionary 📝
        {% else %}
          Edit the word ✏️
        {% endif %}
      </div>
        <!-- Ошибки формы в целом, не связанные с конкретным полем -->
        {% if form.non_field_errors %}          
          {% for error in form.non_field_errors %} 
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}
        <!-- Форма слова, без переводов -->
        {% for field in form %}
          <div class="mb-3">
            {{ field }}

            <!-- Ошибки конкретного поля -->
            {% if field.errors %}
              <div class="text-danger small mb-1">{{ field.errors.0 }}</div>
            {% endif %}

            <!-- ПОДСКАЗКА ДЛЯ ПОЛЬЗОВАТЕЛЯ - ТАКОЕ СЛОВО СУЩЕСТВУЕТ через HTMX в forms.py -->
            {% if field.name == "word" %}
              <div id="word-alert-container"></div>
            {% endif %}

          </div>
        {% endfor %}
        
        <!-- Ошибки формсета(переводы) всего в целом -->
        {% if translation_formset.non_form_errors %}
          <div class="alert alert-danger p-2 small mb-3">
            {% for error in translation_formset.non_form_errors %}
              <div><i class="fa-solid fa-circle-exclamation me-2"></i>{{ error }}</div>
            {% endfor %}
          </div>
        {% endif %}
        <!-- Управление формсетом -->
        {{ translation_formset.management_form }}
        <div class="translation-block mb-4">
          <div id="translations-container">

            {% for translation_form in translation_formset %}
              <div class="mb-3 translation-form-row d-flex align-items-center gap-3">
                {{ translation_form.id }}
  
                  <!-- Текст одного(первого, потому что в настройках у нас он один) формсета - перевода, а также его возникающие ошибки -->
                  <div class="flex-grow-1">
                    {{ translation_form.text }}
                    {% if translation_form.text.errors %}
                      <div class="text-danger small mt-1">{{ translation_form.text.errors.0 }}</div>
                    {% endif %}
                  </div>

                  <!-- Красивый свитч удаления справа от инпута если это ОБНОВЛЕНИЕ, а не создание-->
                  {% if translation_formset.can_delete and translation_form.instance.pk %}
                    <div class="form-check form-switch m-0">
                      <!-- Сам рычажок который записывает html_name и id поля перевода -->
                      <input type="checkbox" 
                             name="{{ translation_form.DELETE.html_name }}" 
                             id="{{ translation_form.DELETE.id_for_label }}" 
                             class="form-check-input">
                      <!-- Слово рядом с рычажком, тоже кликабельное и связывает его с нашим рычажком через for = id -->
                      <label class="form-check-label" for="{{ translation_form.DELETE.id_for_label }}">
                        Delete
                      </label>
                    </div>
                  {% endif %}

              </div>
            {% endfor %}
          </div>
          <!-- Шаблон пустого формсета перевода для кнопки Добавить перевод внизу -->
          <template id="translation-template">
            <div class="mb-2 translation-form-row">
              {{ translation_formset.empty_form.id }}
              {{ translation_formset.empty_form.text }}
              
              {% if translation_formset.empty_form.text.errors %}
                <div class="text-danger small mt-1">{{ translation_formset.empty_form.text.errors.0 }}</div>
              {% endif %}
            </div>
          </template>
          <!-- Кнопка Добавить формсет перевод -->
          <button type="button"
                  class="btn btn-link btn-sm mt-1 text-success text-decoration-none p-0 fw-semibold"
                  hx-on:click="
                    let container = document.getElementById('translations-container');
                    let template = document.getElementById('translation-template').innerHTML;
                    let totalForms = document.getElementById('id_translation_set-TOTAL_FORMS');

                    let newIndex = container.querySelectorAll('.translation-form-row').length;
                    let newFormHtml = template.replace(/__prefix__/g, newIndex);
                    
                    container.insertAdjacentHTML('beforeend', newFormHtml);
                    totalForms.value = newIndex + 1
                  ">
            <i class="fa-solid fa-plus me-1"></i>Add translation
          </button>

        </div>

      <button class='btn btn-success' type="submit">
        {% if not form.instance.pk%}
          Add the word
        {% else %}
          Edit the word
        {% endif %} 
      </button>
    </form>
  </div>
{% endblock content %}