{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
    <div class="write-form">
        <form method="post" action="{% url 'word:new_word' %}">
            {% csrf_token %}
            <h3 class="display-4">Add the words in your dictionary 📖</h1>
              {% if form.non_field_errors %}          
                {% for error in form.non_field_errors %} 
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
              {% endif %}
            {% for field in form %}
                <p>{{ field }}</p>
            {% endfor %}
            <span>{{ error }}</span>
            <button class='btn btn-success' type="submit">Add the word</button>
        </form>
    </div>
{% endblock content %}