{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}


{% block content %}
  <div class="write-form">
    <form method="post" action="{% url 'word:new_word' %}">
      {% csrf_token %}
      
      <div class="display-4 mb-4">Add the word in your dictionary 📝</div>
        
        {% if form.non_field_errors %}          
          {% for error in form.non_field_errors %} 
            <div class="alert alert-danger">{{ error }}</div>
          {% endfor %}
        {% endif %}

        {% for field in form %}
          <div class="mb-3">
            {{ field }}
            {% if field.errors %}
              <div class="text-danger small mb-1">{{ field.errors.0 }}</div>
            {% endif %}
          </div>
        {% endfor %}

        {{ translation_formset.management_form }}
        <div class="translation-block mb-4">

          <div id="translations-container">
            {% for translation_form in translation_formset %}
              <div class="mb-2 translation-form-row">
                {{ translation_form.id }}
                {{ translation_form.text }}

                {% if translation_form.text.errors %}
                  <div class="text-danger small mb-1">{{ translation_form.text.errors.0 }}</div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          
          <template id="translation-template">
            <div class="mb-2 translation-form-row">
              {{ translation_formset.empty_form.id }}
              {{ translation_formset.empty_form.text }}
              {% if translation_formset.empty_form.text.errors %}
                <div class="text-danger small mt-1">{{ translation_formset.empty_form.text.errors.0 }}</div>
              {% endif %}
            </div>
          </template>

          <button type="button"
                  class="btn btn-link btn-sm mt-1 text-success text-decoration-none p-0 fw-semibold"
                  hx-on:click="
                    let container = document.getElementById('translations-container');
                    let template = document.getElementById('translation-template').innerHTML;
                    let totalForms = document.getElementById('id_translation_set-TOTAL_FORMS');

                    let newIndex = container.querySelectorAll('.translation-form-row').length;
                    let newFormHtml = template.replace(/__prefix__/g, newIndex);
                    
                    container.insertAdjacentHTML('beforeend', newFormHtml);
                    totalForms.value = newIndex + 1
                  ">
            <i class="fa-solid fa-plus me-1"></i>Add translation
          </button>

        </div>

      <button class='btn btn-success' type="submit">Add the word</button>
    </form>
  </div>
{% endblock content %}