{% if no_word_left %}
<div class="d-flex flex-column align-items-center text-center py-4 w-100">
  <p class="display-3 fw-bold mb-3">Congratulations!</p>
  <p class="display-4 tex-muted mb-4">You successfully finished repeating the words in this room 🤯</p>
  <a href="{% url 'word:create_room' %}" class="btn btn-primary btn-lg">Create New Room</a>
</div>
{% else %}
  <form hx-post="{{ request.path }}" hx-target="#word-card-container" hx-swap="innerHTML">
    <div class="display-3 fw-bold">{{ word }} - {{ part_of_speech }} - ?</div>
    <div class="display-4 tex-muted">Translate the word above. You know it 🤓</div>
      
      {% csrf_token %}
      <input type="hidden" name="word_id" value="{{ word_id }}">
      <p>{{ form.answer }}</p>
      
      {% for error in form.answer.errors %}
        <div class="alert alert-danger">{{ error }}</div>
      {% endfor %}
  
      <button class="btn btn-success" type="submit">Check Answer</button>
  </form>
{% endif %}
