{% extends "base.html" %}


{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <div class="container text-center mt-5">
    <ul style="list-style-type: none;">
        {% for word in words %}
            <li class="display-4">🔎 {{ word.word }} - {{ word.translation}} - {{ word.part_of_speech }}</li>
            <br>
        {% empty %}
            <li>No words found.</li>
            <br>
        {% endfor %}
        <p><button onclick="history.back()" class="btn btn-primary">Go Back</button></p>
    </ul>
  </div>
{% endblock content %}